<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>781491142384-laj1bnscqjlpams80g89p3dd0uojvan3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.781491142384-laj1bnscqjlpams80g89p3dd0uojvan3</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>781491142384-0ptro6kpd3nufi7hom77seuvcp7o2jct.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBtPI4SVQ1_YhmXNaJG8GLRC2Orqp6j-98</string>
	<key>GCM_SENDER_ID</key>
	<string>781491142384</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.masterung.plantplanetapp</string>
	<key>PROJECT_ID</key>
	<string>plantplanetapp-afb2e</string>
	<key>STORAGE_BUCKET</key>
	<string>plantplanetapp-afb2e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:781491142384:ios:6b5290a855a27e08bf4c35</string>
</dict>
</plist>